.copyright_panel > ul{margin:0;}
.copyright_panel li{font-family:'Carnas-Light';color:#414042;float:left;font-size:0.6875rem;line-height:2;padding:0 33px 0 0;text-transform:uppercase;letter-spacing:1px;}
.copyright_panel a{color:#414042;}
.copyright_panel li{font-size:0.875rem;}
.copyright_panel li{font-size:10px;}
.row{margin-top:26px;}
.row{margin-bottom:0;}
.row{margin-left:-13px;margin-right:-13px}